<!DOCTYPE html>
<html lang="en" ng-app="adminPoolApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Students</title>
    <link rel="icon" href="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-academic-university-flaticons-flat-flat-icons-2.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body ng-controller="AdminController" class="min-h-screen bg-gradient-to-tr from-blue-300 via-gray-100 to-white">
    <div style="position: sticky; top: 0px;">
        <nav class="p-4 flex justify-between backdrop-blur-xl">
            <div class="flex items-center">
                <a href="/admin_pool" target="_self" class="py-2 mr-4 px-4 flex items-center bg-white transition-colors duration-300 ease-in-out justify-center cursor-pointer rounded-full text-gray-700 hover:text-gray-900 hover:bg-blue-500 font-bold">Admin Pool</a>
                <a href="/admin_mentors" target="_self" class="py-2 mr-4 px-4 flex items-center bg-white transition-colors duration-300 ease-in-out justify-center cursor-pointer rounded-full text-gray-700 hover:text-gray-900 hover:bg-blue-500 font-bold">Mentors</a>
                <a href="/admin_students" target="_self" class="py-2 mr-4 px-4 flex items-center bg-white transition-colors duration-300 ease-in-out justify-center cursor-pointer rounded-full text-gray-700 hover:text-gray-900 hover:bg-blue-500 font-bold">Students</a>
                <a href="/admin_courses" target="_self" class="py-2 mr-4 px-4 flex items-center bg-white transition-colors duration-300 ease-in-out justify-center cursor-pointer rounded-full text-gray-700 hover:text-gray-900 hover:bg-blue-500 font-bold">Courses</a>
                <a href="/admin_academia" target="_self" class="py-2 mr-4 px-4 flex items-center bg-white transition-colors duration-300 ease-in-out justify-center cursor-pointer rounded-full text-gray-700 hover:text-gray-900 hover:bg-blue-500 font-bold">Academic Details</a>
            </div>

            <div class="ml-auto flex items-center">
                <a href="" ng-click="logout()" target="_self" class="py-2 px-4 flex items-center bg-white transition-colors duration-300 ease-in-out justify-center cursor-pointer rounded-full text-gray-700 hover:text-gray-900 hover:bg-blue-500 font-bold">Logout</a>
            </div>
        </nav>
    </div>
    <div class="container mx-auto py-8" ng-init="getStudentInfo()">
        <h2 class="text-2xl font-semibold mb-4">Student Information</h2>
        <div class="grid grid-cols-1 gap-4">
            <div ng-repeat="student in studentDetails.results" class="bg-gray-100 rounded-lg shadow-md">
                <button ng-click="toggleAccordion($index)" class="w-full text-left p-4 focus:outline-none flex justify-between items-center">
                    <div>
                        <h3 class="text-xl font-semibold">{{ student.name }}</h3>
                        <h3 class="uppercase text-gray-900">USN: <a class="font-bold">{{ student.usn }}</a></h3>
                    </div>
                    <svg class="h-6 w-6 text-black transform transition-transform" 
                         ng-class="{'rotate-180': isActiveAccordion($index)}" 
                         fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </button>
                <div ng-show="isActiveAccordion($index)" class="bg-white rounded-lg border-t border-gray-200">
                    <div class="p-4">
                        <p class="text-gray-800">Phone Number: {{ student.phone_no }}</p>
                        <p class="text-gray-800">Email: {{ student.email }}</p>
                        <p class="text-gray-800">Branch: <span class="uppercase">{{ student.branch_id }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module('adminPoolApp', []);
        app.controller('AdminController', ['$scope', '$http', '$window', function($scope, $http, $window) {
            $scope.sessionID = $window.localStorage.getItem('admin_session_id');
            $scope.credentials = {};
            $scope.activeAccordion = null;
            $scope.toggleAccordion = function(index) {
                if ($scope.activeAccordion === index) {
                    $scope.activeAccordion = null;
                } else {
                    $scope.activeAccordion = index;
                }
            };
            
            $scope.isActiveAccordion = function(index) {
                return $scope.activeAccordion === index;
            };
            $scope.getStudentInfo = function() {
                $scope.credentials.session_id = $scope.sessionID;
                $http.post('/admin_fetch_student_information', $scope.credentials)
                    .then(function(response) {
                        $scope.studentDetails = response.data;
                    })
                    .catch(function(error) {
                        console.error('Error', error);
                    });
            };
            $scope.logout = function() {
                $scope.credentials.session_id = $scope.sessionID;
                $http.post('/admin_logout', $scope.credentials)
                    .then(function(response) {
                        $window.location.href = "/login";
                        $window.localStorage.clear();
                    })
            };
        }]);
    </script>
</body>

</html>
