<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <title>SignUp</title>
    <link rel="icon" href="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-academic-university-flaticons-flat-flat-icons-2.png" type="image/x-icon">
  </head>
  <body ng-app="myApp" ng-controller="MainCtrl" ng-style="{'background-color': bodyBackgroundColor}">
    <div>
      <div class="flex items-center justify-center mt-8">
        <div class="navbar mr-4 bg-gray-100 px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-500">
          <a href="" ng-click="setActiveContent('content1')" class="text-gray-700 hover:text-gray-900 font-bold">Mentor</a>
        </div>
        <div class="navbar bg-gray-100 px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-500">
          <a href="" ng-click="setActiveContent('content2')" class="text-gray-700 hover:text-gray-900 font-bold">Student</a>
        </div>
      </div>
      <div class="content" ng-show="activeContent === 'content1'">
        <div class="mentor">
          <form class="pure-form pure-form-aligned" ng-submit="submitMentor()">
            <div class="flex items-center justify-center">
              <div class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0">
                <div class="flex flex-col justify-center p-8 md:p-14">
                  <h1 class="text-2xl font-semibold mb-4">Create your Account</h1>
        
                      <div class="mb-4">
                          <h2 class="text-lg font-semibold mb-2">Your Details</h2>
        
                          <div class="flex space-x-4">
                              <div class="w-1/2">
                                  <label for="name" class="block text-gray-700 text-sm font-medium">Name</label>
                                  <input type="text" name="name" ng-model="mentorCredentials.name"
                                      class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300"
                                      required>
                              </div>
                              <div class="w-1/2">
                                  <label for="usn" class="block text-gray-700 text-sm font-medium">Mentor ID</label>
                                  <input type="text"  name="mentor_id" ng-model="mentorCredentials.mentor_id"
                                      class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300"
                                      required>
                              </div>
                          </div>
        
                          <div class="mb-4">
                              <label for="contact" class="block text-gray-700 text-sm font-medium">Contact Number</label>
                              <input type="text" name="phone_no" ng-model="mentorCredentials.phone_no"
                                  class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300"
                                  required>
                          </div>
        
                          <div class="mb-4">
                              <label for="email" class="block text-gray-700 text-sm font-medium">E-Mail</label>
                              <input type="email"  name="email" ng-model="mentorCredentials.email"
                                  class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300"
                                  required>
                          </div>
                          <div class="flex space-x-4">  
                            <div class="w-1/3">
                              <select name="branch_id" ng-model="mentorCredentials.branch_id" class="bg-white p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300" required>
                                <option value="" selected>Select Branch</option>
                                <option value="cse">Computer Science</option>
                                <option value="ise">Information Science</option>
                                <option value="mec">Mechanical</option>
                                <option value="civ">Civil</option>
                                <option value="ece">Electronics & Communication</option>
                                <option value="ete">Electronics & Telecommmunication</option>
                                <option value="aim">AIML</option>
                                <option value="roa">Robotics & Automation</option>
                              </select>
                            </div> 
                          </div>
                          <br>
        
                          <div class="mb-4">
                              <label for="password" class="block text-gray-700 text-sm font-medium">Create a Memorable
                                  Password</label>
                              <input type="password" name="password" ng-model="mentorCredentials.password"
                                  class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300"
                                  required>
                          </div>
                      </div>
                      <button type="submit"
                          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                          Create
                      </button>
                      <div class="text-center">
                        <p ng-show="msignup.flag==404" class="text-red-500 capitalize">{{ msignup.msg }}</p>
                    </div> 
                </div>
                <div class="relative">
                <div class="h-24 bg-gradient-to-r from-sky-300 via-blue-500 to-blue-900 w-[400px] h-full hidden rounded-r-2xl md:block object-cover"></div>
              </div>
            </div>
            </form>
        </div>
      </div>
      </div>
      <div class="content" ng-show="activeContent === 'content2'">
        <div class="student">
          <form class="pure-form pure-form-aligned" ng-submit="submitStudent()">
            <div class="flex items-center justify-center">
              <div class="relative flex flex-col m-6 space-y-8 bg-gray-800 text-white shadow-2xl rounded-2xl md:flex-row md:space-y-0">
                <div class="flex flex-col justify-center p-8 md:p-14">
                  <h1 class="text-2xl font-semibold mb-4">Create your Account</h1>
        
                      <div class="mb-4">
                          <h2 class="text-lg font-semibold mb-2">Your Details</h2>
        
                          <div class="flex space-x-4">
                              <div class="w-1/2">
                                  <label for="name" class="block text-sm font-medium">Name</label>
                                  <input type="text"  name="name" ng-model="studentCredentials.name"
                                      class="mt-1 p-2 w-full border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500 bg-gray-700 text-white"
                                      required>
                              </div>
                              <div class="w-1/2">
                                  <label for="usn" class="block text-sm font-medium">USN</label>
                                  <input type="text" name="usn" ng-model="studentCredentials.usn"
                                      class="mt-1 p-2 w-full border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500 bg-gray-700 text-white"
                                      required>
                              </div>
                          </div>
        
                          <div class="mb-4">
                              <label for="contact" class="block text-sm font-medium">Contact Number</label>
                              <input type="text" name="phone_no" ng-model="studentCredentials.phone_no"
                                  class="mt-1 p-2 w-full border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500 bg-gray-700 text-white"
                                  required>
                          </div>
        
                          <div class="mb-4">
                              <label for="email" class="block text-sm font-medium">E-Mail</label>
                              <input type="email" name="email" ng-model="studentCredentials.email"
                                  class="mt-1 p-2 w-full border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500 bg-gray-700 text-white"
                                  required>
                          </div>
                          <div class="flex space-x-4">
                            <div class="w-1/3">
                              <select name="semester" ng-model="studentCredentials.semester" class="bg-slate-700 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300" required>
                                <option value="" selected>Select Semester</option>
                                <option value="1">First</option>
                                <option value="2">Second</option>
                                <option value="3">Third</option>
                                <option value="4">Fouth</option>
                                <option value="5">Fifth</option>
                                <option value="6">Sixth</option>
                                <option value="7">Seventh</option>
                                <option value="8">Eighth</option>
                              </select>
                            </div>  
                            <div class="w-1/3">
                              <select name="branch_id" ng-model="studentCredentials.branch_id" class="bg-slate-700 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300" required>
                                <option value="" selected>Select Branch</option>
                                <option value="cse">Computer Science</option>
                                <option value="ise">Information Science</option>
                                <option value="mec">Mechanical</option>
                                <option value="civ">Civil</option>
                                <option value="ece">Electronics & Communication</option>
                                <option value="ete">Electronics & Telecommmunication</option>
                                <option value="aim">AIML</option>
                                <option value="roa">Robotics & Automation</option>
                              </select>
                            </div> 
                          </div>
                          <br>
        
                          <div class="mb-4">
                              <label for="password" class="block text-sm font-medium">Create a Memorable
                                  Password</label>
                              <input type="password" name="password" ng-model="studentCredentials.password" 
                                  class="mt-1 p-2 w-full border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500 bg-gray-700 text-white"
                                  required>
                          </div>
                      </div>
                      <button type="submit"
                          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                          Create
                      </button>
                      <div class="text-center">
                        <p ng-show="stsignup.flag==404" class="text-red-500">{{ stsignup.msg }}</p>
                    </div> 
                </div>
                <div class="relative">
                <div class="h-24 bg-gradient-to-r from-blue-900 via-blue-500 to-sky-300 w-[400px] h-full hidden rounded-r-2xl md:block object-cover"></div>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
    
    <script>
      angular.module('myApp', [])
        .controller('MainCtrl',['$scope', '$http', '$window', function ($scope, $http, $window) {
          $scope.mentorCredentials = {
            semester: ''
          };
          $scope.studentCredentials = {
            semester: '',
            branch_id : ''
          };
          $scope.submitMentor = function() {
            $http.post('http://localhost:3000/mentor_signup', $scope.mentorCredentials)
                        .then(function (response) { 
                            $scope.msignup = response.data;
                            const mentorsignup = response.data;
                            if (mentorsignup.flag == 200) {
                              try {
                                  $window.location.href = "http://localhost:3000/login";
                              } catch (error) {
                                  console.error('Error redirecting to mentor main page:', error);
                              }
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
          };
          $scope.submitStudent = function() {
            $http.post('http://localhost:3000/student_signup', $scope.studentCredentials)
                        .then(function (response) { 
                            $scope.stsignup = response.data;
                            const studentsignup = response.data;
                            if (studentsignup.flag == 200) {
                              try {
                                  $window.location.href = "http://localhost:3000/login";
                              } catch (error) {
                                  console.error('Error redirecting to login page:', error);
                              }
                            }
                        })
                        .catch(function (error) {
                            console.error(error);

                        });
          };
          $scope.activeContent = 'content1'; 
          $scope.setActiveContent = function(content) {
          $scope.activeContent = content;
          if (content === 'content1') {
            $scope.bodyBackgroundColor = '#FFFFFF'; // White background for mentor
          }
          else {
            $scope.bodyBackgroundColor = '#000000'; // Black background for student
          }
          };
        }]);
    </script>
  </body>
</html>

