<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Academic Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
        }   
        .tooltip .tooltip-text {
        border: 2px solid rgb(107, 107, 230);
        border-radius: 5%;
        visibility: hidden;
        width: max-content;
        background-color: #fdfbfb;
        color: #292727;
        text-align: left;
        padding: 15px 20px; 
        border-radius: 8px; 
        position: absolute;
        z-index: 1;
        top: calc(100% + 23px);
        left: -180%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        right: auto;
        margin-right: -50%;
        }
        .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
        }
    </style>
</head>
<body ng-controller="myController">
    <div>
        <nav class="bg-blue-500 text-white p-4 flex justify-between">
            <a href="http://localhost:3000/student_academic_fetch" target="_self" class="py-2 px-4 flex items-center justify-center cursor-pointer rounded-2xl hover:text-opacity-75 hover:bg-blue-800" href="#">Academic Details</a>
            <a href="http://localhost:3000/student_notifications" target="_self" class="py-2 px-4 flex items-center justify-center cursor-pointer rounded-2xl hover:text-opacity-75 hover:bg-blue-800" href="#">Notification</a>
            <a href="http://localhost:3000/student_issues" target="_self" class="py-2 px-4 flex items-center justify-center cursor-pointer rounded-2xl hover:text-opacity-75 hover:bg-blue-800" href="#">Issues</a>
            <a href="http://localhost:3000/student_mentor_feedback" target="_self" class="py-2 px-4 flex items-center justify-center cursor-pointer rounded-2xl hover:text-opacity-75 hover:bg-blue-800" href="#">Mentor Feedback</a>
            <a href="http://localhost:3000/student_mentor_upload" target="_self" class="py-2 px-4 flex items-center justify-center cursor-pointer rounded-2xl hover:text-opacity-75 hover:bg-blue-800" href="#">Mentor Form</a>
          
            <div class="ml-auto flex items-center">
                <div class="tooltip hover:bg-blue-800 cursor-pointer py-2 px-2 rounded-2xl" ng-mouseenter="showTooltip()" ng-mouseleave="hideTooltip()">
                    <a href="http://localhost:3000/student_info" target="_self">
                        <svg class="h-8 w-8 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>   
                    </a>   
                    <div class="tooltip-text ml-auto bg-yellow-50 text-left rounded-2xl border-solid border-blue-900 border-2" ng-show="isTooltipVisible">
                        <div class="py-1 px-2">
                            <a class="py-1 hover:bg-gray-200 text-gray-800">Name: {{ studentDetails.results[0].name }}</a></br>
                            <a class="py-1 hover:bg-gray-200 text-gray-800">USN: {{ studentDetails.results[0].usn }}</a></br>
                            <a class="py-1 hover:bg-gray-200 text-gray-800">Email-ID: {{ studentDetails.results[0].email }}</a>
                        </div>
                    </div>     
                </div>
                <!-- Logout button -->
                <a href="" ng-click="logout()" target="_self" class="py-2 px-4 flex items-center justify-center cursor-pointer rounded-2xl hover:text-opacity-75 hover:bg-blue-800" href="#">Logout</a>
            </div>
        </nav>
    </div>
    <div class="container mx-auto p-4 " ng-init="fetchStudentAcademicDetails()">
        <div class="flex items-center">
            <h2 class="text-2xl font-bold mb-4 mt-4 mr-4">Academic Details :</h2>
            <button ng-click="fetchStudentAcademicDetails()" class="flex items-center justify-center">
                <svg class="h-6 w-6 text-slate-900" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  
                    <path stroke="none" d="M0 0h24v24H0z"/>  
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -5v5h5" />  
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 5v-5h-5" />
                </svg>
            </button>
        </div>
        
        <div class="mt-8">
            <input type="hidden" ng-model="studentSessionId" name="session_id" />
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div ng-repeat="course in studentAcademicDetails" class="mt-4">
                    <button class="bg-blue-500 text-white font-bold w-full rounded-lg mb-4 shadow-md rounded-lg p-2 md:p-4 mx-auto max-w-md flex justify-between items-center" ng-click="toggleAccordion(course.course_id)">
                        <span class="text-lg font-medium">{{ course.course_id }}</span>
                        <svg class="h-8 w-8 text-slate" ng-class="{'transform rotate-180': isAccordionOpen(course.course_id)}" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                <div ng-show="isAccordionOpen(course.course_id)" class="bg-white shadow-md rounded-lg p-2 md:p-4 mx-auto max-w-md">
                    <h3 class="text-lg font-medium mb-2 md:mb-4 text-center">Academic Details</h3>
                    <div class="grid grid-cols-2 gap-2 md:gap-4">
                        <div class="flex bg-gray-100 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-12">USN:</p>
                            <p class="text-gray-700">{{ course.usn }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-24">Course ID:</p>
                            <p class="text-gray-700">{{ course.course_id }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-24">IA1:</p>
                            <p class="text-gray-700">{{ course.IA1 }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-24">IA2:</p>
                            <p class="text-gray-700">{{ course.IA2 }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-24">IA3:</p>
                            <p class="text-gray-700">{{ course.IA3 }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-32">Assignment 1:</p>
                            <p class="text-gray-700">{{ course.assignment_1 }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-32">Assignment 2:</p>
                            <p class="text-gray-700">{{ course.assignment_2 }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-24">Activity:</p>
                            <p class="text-gray-700">{{ course.activity }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-24">Total Marks:</p>
                            <p class="text-gray-700">{{ course.Total_internal_marks }}</p>
                        </div>
                        <div class="flex bg-gray-200 p-2 rounded-md justify-center items-center">
                            <p class="font-medium w-24">Attendance:</p>
                            <p class="text-gray-700">{{ course.attendance }}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4" ng-show="studentAcademicDetails.length == 0">
            <p class="text-red-500">No data found!</p>
        </div>
        <script>
            angular.module('myApp', [])
            .controller('myController', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                $scope.studentSessionId = localStorage.getItem('student_session_id');
        
                $scope.studentAcademicDetails = [];
                $scope.openAccordions = []; 
        
                $scope.fetchStudentAcademicDetails = function () {
                    $http.post('http://localhost:3000/student_academic_details_fetch', { session_id: $scope.studentSessionId })
                        .then(function (response) {
                            try {
                                $scope.studentAcademicDetails = response.data.academic_details;
                            } catch (err) {
                                console.log('Error');
                            }
                        })
                        .catch(function (error) {
                            console.error('Error fetching student academic details:', error);
                        });
                };
                $scope.toggleAccordion = function (index) {
                    $scope.openAccordions[index] = !$scope.openAccordions[index];
                };
        
                $scope.isAccordionOpen = function (index) {
                    return $scope.openAccordions[index];
                };
        
                $scope.studentDetails = null;
                $scope.credentials = {};
                $scope.isTooltipVisible = false;
        
                $scope.showTooltip = function () {
                    $scope.credentials.session_id = $scope.studentSessionId;
                    $http.post('http://localhost:3000/student_info_fetch', $scope.credentials)
                        .then(function (response) {
                            $scope.studentDetails = response.data;
                            $scope.isTooltipVisible = true;
                        })
                        .catch(function (error) {
                            console.error('Error', error);
                        });
                };
                $scope.logout = function(){
                    $scope.credentials.session_id = $scope.studentSessionId;
                    $http.post('http://localhost:3000/student_logout', $scope.credentials)
                        .then(function(response){
                        $window.location.href="http://localhost:3000/login";
                        $window.localStorage.clear();
                        })
                };
        
                $scope.hideTooltip = function () {
                    $scope.isTooltipVisible = false;
                };

                $scope.showDetails = function() {

                }
            }]);
        </script>        
</body>
</html>
