<!DOCTYPE html>
<html ng-app="academicApp">

<head>
    <title>Notifications</title>
    <link rel="icon" href="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-academic-university-flaticons-flat-flat-icons-2.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .tooltip {
          position: relative;
          display: inline-block;
          cursor: pointer;
        }
        .tooltip .tooltip-text {
         
          visibility: hidden;
          width: max-content;
          background-color: #27272a;
          color: rgb(128, 127, 127);
          text-align: left;
          padding: 15px 20px; 
          border-radius: 8px; 
          position: absolute;
          z-index: 1;
          top: calc(100% + 23px);
          left: -180%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s;
          right: auto;  
          margin-right: -50%;
        }
        .tooltip:hover .tooltip-text {
          visibility: visible;
          opacity: 1;
        }
        .rotate-360 {
        transition: transform 0.6s ease;
        transform: rotate(360deg);
        }
        .overlay {
            position: fixed;
            top: calc(1005+50px);
            right: -100%;
            margin-left: auto;
            width: 25%;
            height: max-content;
            transition: right 0.3s ease;
            z-index: 1;
        }
        .overlay-content {
            position: absolute;
            right: 5%;
            width: 100%;
            height: max-content;

        }
        .overlay.active {
            right: 0;
        }
        .list {
          opacity: 0;
          transition: opacity 0.5s ease;
        }
        .show {
            opacity: 1;
        }
        [ng-cloak] {
            display: none;
        }
      </style>
 
</head>

<body ng-cloak ng-controller="AcademicController" class="bg-gradient-to-tr from-gray-800 via-stone-950 to-black min-h-screen">
    <div style="position: sticky; top: 0px;">
        <nav class="backdrop-blur-sm p-4 flex justify-between">
            <a href="http://localhost:3000/student_academic_fetch" target="_self" class="bg-zinc-800 text-white mr-4 px-4 py-2 p-8 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-300 text-gray-700 hover:text-gray-900 font-bold flex items-center justify-center" href="#">Academic Details</a>
            <a href="http://localhost:3000/student_notifications" target="_self" class="bg-zinc-800 text-white mr-4 px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-300 text-gray-700 hover:text-gray-900 font-bold flex items-center justify-center" href="#">Notification</a>
            <a href="http://localhost:3000/student_issues" target="_self" class="bg-zinc-800 text-white mr-4 px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-300 text-gray-700 hover:text-gray-900 font-bold flex items-center justify-center" href="#">Issues</a>
            <a href="http://localhost:3000/student_mentor_feedback" target="_self" class="bg-zinc-800 text-white mr-4 px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-300 text-gray-700 hover:text-gray-900 font-bold flex items-center justify-center" href="#">Mentor Feedback</a>
            <a href="http://localhost:3000/student_mentor_upload" target="_self" class="bg-zinc-800 text-white mr-4 px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-300 text-gray-700 hover:text-gray-900 font-bold flex items-center justify-center" href="#">Mentor Form</a>
          
            <div class="ml-auto flex items-center">
                <div class="tooltip hover: cursor-pointer py-2 px-2 rounded-2xl transition ease-in-out delay-100 duration-300" ng-mouseenter="showTooltip()" ng-mouseleave="hideTooltip()">
                    <a ng-click="toggleOverlay()" target="_self">
                        <svg class="h-8 w-8 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>   
                    </a>   
                    <div class="tooltip-text ml-auto bg-yellow-50 text-left shadow-inner shadow-gray-800" ng-show="isTooltipVisible">
                        <div class="py-1 px-2">
                            <a class="py-1 text-gray-200 font-bold ">Name: {{ studentDetails.results[0].name }}</a></br>
                            <a class="py-1 text-gray-200 font-bold">USN: {{ studentDetails.results[0].usn }}</a></br>
                            <a class="py-1 text-gray-200 font-bold  ">Email-ID: {{ studentDetails.results[0].email }}</a>
                        </div>
                    </div>     
                </div>
                <!-- Logout button -->
                <a href="" ng-click="logout()" target="_self" class="bg-zinc-800 text-white transition ease-in-out delay-100 py-2 px-4 flex items-center justify-center px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-blue-300 text-gray-700 hover:text-gray-900 font-bold" href="#">Logout</a>
            </div>
        </nav>
      </div>
      <div class="overlay" ng-class="{ 'active': isOverlayActive }" id="overlay">
        <div class="overlay-content position: sticky; top: 20px; pt-2.5 px-2.5 shadow-md bg-zinc-800 rounded-2xl ">
            <svg ng-click="toggleOverlay()" class="h-8 w-8 text-white cursor-pointer"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
              stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  
              <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
            <div ng-init="getSInfo()" class="items-center text-gray-800 bg-gray-150  ">
              <div class=" p-8 " >
                <h2 class="text-xl text-white font-semibold mb-4">Student Information</h2>
                  <div class="mb-4 flex items-center">
                    <p class="font-semibold mr-2 text-white">Name:</p>
                    <div class="bg-gray-100 p-2 rounded-md">{{ getMi.name }}</div>
                  </div>
                  <div class="mb-4 flex items-center">
                    <p class="font-semibold text-w text-white mr-2">USN:</p>
                    <div class="bg-gray-100 p-2 rounded-md">{{ getMi.usn }}</div>
                  </div>
                  <div class="mb-4 flex items-center">
                    <p class="font-semibold mr-2 text-white">Phone Number:</p>
                    <div class="bg-gray-100 p-2 rounded-md">{{ getMi.phone_no}}</div>
                  </div>
                  <div class="mb-6 flex items-center">
                    <p class="font-semibold mr-3 text-white">Email-ID:</p>
                    <div class="bg-gray-100 p-1 rounded-md">{{ getMi.email }}</div>
                  </div>
                  <div class="mb-4 flex items-center">
                    <p class="font-semibold mr-2 text-white">Branch:</p>
                    <div class="bg-gray-100 p-2 rounded-md uppercase">{{ getMi.branch_id }}</div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    <div class="container mx-auto p-4" ng-init="getSNotifications()">
      <div class="flex items-center justify-center mb-4">
          <h2 class="text-2xl font-bold text-gray-200 mt-4 mb-4 mr-4">Notifications:</h2>
          <button onclick="this.classList.toggle('rotate-360')" ng-click="getSNotifications()" class="flex items-center justify-center">
              <svg class="h-6 w-6 text-gray-200" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  
                  <path stroke="none" d="M0 0h24v24H0z"/>  
                  <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -5v5h5" />  
                  <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 5v-5h-5" />
              </svg>
          </button>    
      </div>
      <div class="list" ng-class="{ 'show': isLoaded }">
        <div class="mt-4">
            <div ng-repeat="z in getS">
                <div class="mb-4" ng-repeat="res in z.results">
                    <div class="bg-zinc-800 text-gray-300 p-4 rounded-md">
                        <p class="font-bold">Message:  {{ res.msg }}</p>
                        <p class="text-sm">Date:  {{ res.time | date:'dd-MM-yyyy' }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>  
    <script>
        angular.module('academicApp', [])
            .controller('AcademicController', ['$scope', '$http', '$window','$timeout', function ($scope, $http, $window, $timeout) {
                $scope.sessionID = $window.localStorage.getItem('student_session_id');
                $scope.credentials = {};
                $scope.getS = [];
                $scope.getSNotifications = function () {
                    $scope.credentials.session_id = $scope.sessionID;
                    $http.post('http://localhost:3000/student_fetch_notification', $scope.credentials)
                        .then(function (response) {
                            $scope.getS = [];
                            $scope.getS.push(response.data);
                        })
                        .catch(function (error) {
                            console.error('Error fetching student notifications:', error);
                        });
                        $scope.isLoaded = false;
                            $timeout(function() {
                                $scope.isLoaded = true; 
                          }, 300);
                };
                $scope.toggleOverlay = function() {
                    $scope.isOverlayActive = !$scope.isOverlayActive;
                };
                $scope.getMi = [];
                $scope.getSInfo = function () {
                    $http.post('http://localhost:3000/student_info_fetch',  {session_id: $scope.sessionID })
                        .then(function (response) {
                          $scope.getMi = response.data.results[0];
                        })
                        .catch(function (error) {
                          console.error('Error fetching Student Info:', error);
                        });
                };
                $scope.showTooltip = function() {
                $scope.credentials.session_id = $scope.sessionID;
                $http.post('http://localhost:3000/student_info_fetch', $scope.credentials)
                    .then(function(response) {
                    $scope.studentDetails=response.data;
                    $scope.isTooltipVisible = true;
                    })
                    .catch(function(error) {
                    console.error('Error', error);
                    });     
                
                };
                $scope.logout = function(){
                    $scope.credentials.session_id = $scope.sessionID;
                    $http.post('http://localhost:3000/student_logout', $scope.credentials)
                        .then(function(response){
                        $window.location.href="http://localhost:3000/login";
                        $window.localStorage.clear();
                        })
                };
                $scope.hideTooltip = function() {
                    $scope.isTooltipVisible = false;
                };
            }]);
    </script>
</body>

</html>
